body{
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    /* border: 2px solid rgb(255, 0, 0); */
}

header{
    background-color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: 2px solid rgb(52, 1, 233); */
}

nav{
    display: flex;  
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
    
    /* border: 2px solid rgb(250, 176, 28); */
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(146, 146, 146);
}

a:active {
    text-decoration: none;
    color: white;
}

header{
    background-color: #e9e9e9;
    text-wrap: wrap;

    /* border: 2px solid rgb(21, 239, 247); */
}

main{
    background-color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    width: 100%;

    /* border: 2px solid yellow; */
}

main p{
    text-align: justify;
}

#div1{
    /* border: 1px solid red; */
}

#div2 div{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.heading1{
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
}



.heading2{
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}

#div2 h3{
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
}

#div2{
    /* border: 1px solid blue; */
}

#gallery{
    display: grid;
    background-color: white;
    margin: 0px auto;
    width: 100%;

    /* border: 2px solid rgb(0, 13, 255); */
}

#gallery img{
    width: 100%;
}

#author{
    display: grid;
    grid-gap: 50px;
    background-color: white;
    box-sizing: border-box;
    /* border: 2px solid rgb(255, 223, 80); */
}

#author h2{
    font-family: "Protest Guerrilla", serif;
    font-weight: 400;
    font-style: normal;
}

#author img{
    width: 100%;
}

/* #author1{
    border: 2px solid rgb(255, 223, 80);
} */

#author2{
    padding: 30px 0px;
    /* border: 1px solid red; */
}





footer{
    background-color: #14181d;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;

    /* border: 2px solid rgb(15, 218, 25); */
}


 
@media (max-width: 540px){ /* SMALL MOBILE */       
    body{
        margin: 0px;
        padding: 20px 0px 0px 0px;
    }

    header{
        width: 100%;
        margin-bottom: 12px;
    }
    
    main{
        box-sizing: border-box;
        padding: 20px;
    }

    main p{
        text-align: justify;
    }

    #div1 p{
        font-size: 21px;
    }

    h1{
        margin: 0px;
    }

    h2{
        margin: 0px;
    }

    h3{
        font-size: 36px;
        margin: 15px 0px;
    }

    #title h1, h2, h3{
        text-align: center;
    }

    section p{
        font-size: 19px;
    }

    .heading1{
        font-size: 50px;
    }

    .heading2{
        font-size: 50px;
    }
    
    header img{
        width: 80px;
        margin-bottom: 20px;
    }
    
    #gallery{
        box-sizing: border-box;
        width: 100%;
        grid-template-rows: repeat(4, 1fr) 0px;
        grid-template-columns: repeat(1, 1fr);
    }   

    .pic5{
        visibility: hidden;
    }

    #author{
        width: 100%;
        grid-template-columns: 1fr;
        gap: 0px;
    }

    #author1{
        order: 2;
        padding: 0px 12px 0px 12px;
        text-align: justify;
    }

    #author1 h2{
        font-size: 3rem;
    }

    #author2{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #author img{
        width: 50%;
    }

    footer{
        width: 100%;
    }
}



@media (min-width: 540px) and (max-width: 720px){ /* LARGE MOBILE */       
    body{
        margin: 0px;
        padding: 20px 0px 0px 0px;
    }

    header{
        width: 100%;
        margin-bottom: 20px;
    }
    
    main{
        box-sizing: border-box;
        padding: 20px;
    }

    main p{
        text-align: justify;
    }

    #div1 p{
        font-size: 21px;
    }

    h1{
        margin: 0px;
    }

    h2{
        margin: 0px;
    }

    h3{
        font-size: 36px;
        margin: 15px 0px;
    }

    #title h1, h2, h3{
        text-align: center;
    }

    section p{
        font-size: 19px;
    }

    .heading1{
        font-size: 48px;
    }

    .heading2{
        font-size: 48px;
    }
    
    header img{
        width: 80px;
        margin-bottom: 20px;
    }

    #gallery{
        box-sizing: border-box;
        width: 100%;
        grid-template-rows: repeat(4, 1fr) 0px;
        grid-template-columns: repeat(1, 1fr);
    }   

    .pic5{
        visibility: hidden;
    }

    #author{
        width: 100%;
        display: grid;
        gap: 0px;

        grid-template-columns: 1fr;
    }

    #author1{
        order: 2;
        padding: 0px 20px 0px 20px;
        text-align: justify;
    }

    #author1 h2{
        font-size: 3rem;
    }

    #author2{
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #author img{
        width: 50%;
    }
    
    footer{
        width: 100%;
    }
}



@media (min-width: 721px) and (max-width: 1023px){ /* TABLET */       
    body{
        margin: 30px auto 0px auto;
        padding: 0px;
        width: 90%;
    }

    main{
        box-sizing: border-box;
        padding: 30px;
        justify-content: center;
    }

    header{
        width: 100%;
        margin-bottom: 30px;
    }


    .heading1{
        font-size: 48px;
    }

    .heading2{
        font-size: 48px;
    }

    header img{
        width: 80px;
        margin-bottom: 30px;
    }

    h1{
        margin: 0px;
    }

    h2{
        margin: 0px;
    }
    
    h3{
        font-size: 36px;
        margin: 15px 0px;
        text-align: center;
    }

    p{
        font-size: 19px;
        line-height: 1.2;
    }

    #title h1, h2{
        text-align: center;
    }

    #gallery{
        box-sizing: border-box;
        width: 100%;
        grid-template-rows: repeat(2, 1fr) 0px;
        grid-template-columns: repeat(2, 1fr);
    }   

    .pic5{
        visibility: hidden;
    }

    #author{
        padding: 0px 50px;
        width: 100%;
        /* border: 1px solid rebeccapurple; */

        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #author1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #author h2{
        font-size: 3rem;
    }

    footer{
        width: 100%;
    }
}


@media (min-width: 1024px){ /* DESKTOP */       
    body{
        margin: 0px 50px;
        padding: 50px;
        padding-bottom: 0px;
    }

    header{
        width: 66.5%;
        margin-bottom: 50px;
    }

    main{
        box-sizing: border-box;
        padding: 50px;
        width: 66.5%;
    }

    #div1 p{
        font-size: 25px;
    }

    #div2{
        column-count: 3;
        gap: 35px;
    }

    .heading1{
        font-size: 120px;
    }

    header img{
        width: 200px;
        margin-bottom: 50px;
    }

    main h3{
        font-size: 48px;
    }

    h1{
        margin: 0px;   
    }

    h2{
        margin: 0px;
    }
    
    h3{
        margin: 10px 0px;
    }

    p{
        font-size: 19px;
        line-height: 1.2;
    }

    #gallery{
        box-sizing: border-box;
        width: 66.5%;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 2fr repeat(2, 1fr);
    }   

    .pic1{
        grid-row: 1/3;
        grid-column: 1/2;
    }

    .pic2{
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .pic3{
        grid-row: 1/3;
        grid-column: 3/4;
    }

    .pic4{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .pic5{
        grid-row: 2/3;
        grid-column: 3/4;
    }

    #author{
        width: 66.5%;
        padding: 0px 100px;

        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
    }

    #author1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10% 0px;

        /* border: 2px solid rgb(255, 223, 80); */
    }

    #author img{
        width: 100%;
    }

    #author1 h2{
        font-size: 48px;
        text-align: center;
    }

    #author2{
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
    }

    #author p{
        font-size: 20px;
        justify-content: center ;
    }

    footer{
        width: 66.5%;
        height: 100%;
    }

}